<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of tuOCCI.
  ~
  ~     tuOCCI is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Lesser General Public License as
  ~     published by the Free Software Foundation, either version 3 of
  ~     the License, or (at your option) any later version.
  ~
  ~     tuOCCI is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Lesser General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Lesser General Public
  ~     License along with tuOCCI.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!-- $Id$ -->

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>tuOcciQueryInterfaceServlet</servlet-name>
        <servlet-class>de.irf.it.tuocci.httpng.QueryInterfaceServlet</servlet-class>
        <!--display-name>tuOCCI Open Cloud Computing Interface Servlet (Query Interface)</display-name-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>tuOcciResourceNamspaceServlet</servlet-name>
        <!--display-name>tuOCCI Open Cloud Computing Interface Servlet (Resource Namespace)</display-name-->
        <servlet-class>de.irf.it.tuocci.httpng.ResourceNamespaceServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>tuOcciQueryInterfaceServlet</servlet-name>
        <url-pattern>/-/</url-pattern>
        <url-pattern>/.well-known/org/ogf/occi/-/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tuOcciResourceNamspaceServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
</web-app>
